


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Poppins",sans-serif ;
}
header{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:center;
    
}
/*Parte superior del header*/
.superior{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    padding-top: 10px;
}

.servicios{
    padding: 10px 0px;
    width: 65%;

}

.servicios a{
    padding: 20px;
    width: 100px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    margin: 30px 0px;
    text-transform: uppercase;
    color: white;

}

.borde{
    border-right: 1px solid white;
}

.logos img{
    width: 15px;
    height: 15px;
    margin-left: 20px;
}

/*Parte del medio del header*/
.inferior{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0px 30px;
    margin-top: 30px;
}

.nav{
    
    margin: 0px 10px 10px 0px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.nav select{
    background: none;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    font-size: 15px;
    padding: 0px 2px;
    margin: 0px 20px;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 0px 2px;
    margin: 0px 20px;
}

a strong{
    color: rgb(34, 173, 204);
}

.nav img{
    background: none;
    height: 20px;
    width: 20px;
    padding: 0px 2px;
    margin: 10px 20px 0px 20px;
}
/*Parte centro del header*/

h1{
    font-size: 90px;
    padding: 30px;
    margin-top: 20px;
    text-transform: uppercase;
    color: white;
}

/*Seccion nosotros*/

.seccion-nosotros{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px 0px 0px;
    gap: 10px;
    margin:30px 0px 30px 0px
}

.nosotros{
    text-align: start;
    max-width: 700px;
    padding: 30px;
    border-top: 3px solid gray;
}

.nosotros p{
    padding: 5px 30px 30px 0px;
}

.barra-lateral{
    background-color: gray;
    position: fixed;
    padding: 5px 5px;
    top: 50%;
    right: 0;
    border-radius: 10px 0px 0px 10px;

}
.barra-lateral div{
    display: flex;
    flex-direction: column;
}
.barra-lateral div img{
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}


/*Aca arranca la tercera seccion*/

.group{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(234, 233, 233, 0.5);
    text-align: center;
    padding: 20px;
    height: 60vh;
}

.group div{
    padding: 30px 0px;
    margin-top: 20px;
    max-width: 450px;
}

.group h2{
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0px;
}
.group h2 strong{
    font-size: 30px;
    text-transform: uppercase;
    padding: 30px 10px;
}


/*cuarta seccion*/

.fotos{
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
    max-width: 100%;
    padding: 30px 0px 0px 0px;
}

.fotos img{
    width: 500px;
    height: 600px;
    padding: 30px 0px 0px 0px;
}

/*quinta seccion*/
.proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/BG_UPSCALED.png);
    height: 60vh;
    gap: 10px;
}

.proyecto h2{
    max-width: 400px;
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}


.proyecto button{
    background-color:rgb(34, 173, 204);
    padding: 20px 25px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    border-style: none;
    border-radius: 5px;

}


/*footer*/

.informacion{
    background-color: rgb(35, 36, 42);
    display: flex;
    justify-content: space-around;
    gap: 20px;

}


.about-us{
    padding: 30px;

}

.about-us h3{
    margin-top: 10px;
    padding: 30px 0px 20px 0px;
    text-transform: uppercase;
    color: white;
}

.about-us p{
    color: rgb(98, 98, 103);
    width: 400px;
    padding: 0px 0px 10px 0px;
}

.about-us p strong{
    color: white;
    padding-top: 10px;
}

.about-us img{
    height: 20px;
    width: 20px;
    background-color: rgb(98, 98, 103);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/*posteos*/

.posts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0px 0px 0px;
    margin-top: 20px;
}

.posts h3{
    color: white;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
}

.post{
    display: flex;
    gap: 20px;
    align-items: center;
}

.parrafos p{
    color: white;
    font-weight: 700;
}

.parrafos span{
    color: rgb(98, 98, 103);
    font-size: 15px;
    font-weight: 300;
}

.post img{
    width: 80px;
    height: 70px;
}


.instagram{
    padding: 30px;
}

.instagram h3{
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}


.formulario{
    padding: 30px;
}

.formulario h3{
    color: white;
    text-transform: uppercase;
    padding: 20px 0px 20px 0px;
}

.formu{
    padding: 30px 10px;
    border: 7px solid rgba(98, 98, 103, 0.5);
    text-align: center;
    width: 300px;
}

.formu p{
    color: rgb(98, 98, 103);
    padding: 20px;
}

.formu input {
    padding: 10px 30px 10px 10px;
    border: 2px solid rgba(98, 98, 103, 0.5);
    background: none;
}

.formu button{
    margin-top: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
    background-color: rgb(34, 173, 204);
    border-style: none;
    width: 200px;
    cursor: pointer;
}


.final-seccion{
    display: flex;
    justify-content: space-around;
    background-color: rgb(54, 56, 66);
    padding: 30px;
}

.final-seccion p{
    color: rgb(98, 98, 103);
    font-weight: 600;
}

.final-seccion div a{
    text-decoration: none;
    color: rgb(98, 98, 103);
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}